*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    font-family: 'Libre Franklin', sans-serif;;
}
.content{
    text-align: center;
    padding: 20px;
}
.content img{
   margin-top: 3rem;
}
.content h1{
    color: hsl(0, 0%, 59%);
    margin-top:3rem;
    font-weight:normal ;
}
.content span{
    color: black;
    font-weight:bold ;
}
.content p{
    color: black;
    padding: 1rem;
    margin-top: 1rem;
}
.content input{
    text-align: left;
    margin-top: 2rem;
    width: 90%;
    height: 3rem;
    border-radius: 2rem;
    border-color:hsl(223, 100%, 88%);
    border-style: solid;

}
.content button{
    margin-top: 1rem;
    width: 90%;
    height: 3rem;
    border-radius: 2rem;
    border-style: solid;
    color: white;
    background-color: hsl(223, 87%, 63%);
    box-shadow: 0px 5px 8px 0px hsl(223, 79%, 82%);
    border-color:  hsl(223, 87%, 63%);
}
.graph img{
    max-width:100%;
    margin: 5rem 0rem 5rem 0rem;
}
.footer p{
    margin: 2rem;
    color: hsl(0, 0%, 59%);
    text-align: center;
    
}

/*MEDIA QUERIES for desktop 1440px */
@media(min-width:376px) and (max-width: 1440px){
    body{
       margin-left:20%;
        max-width: 100vh;

    }
    .content input{
        max-width: 30%;
    }
    .content button{
        max-width: 10%;
    }

   .graph img{
       width:50%;
       height: 50%;
   }
}

